html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
input[type='submit'], button, [aria-label]{
  cursor: pointer;
  padding: 8px 10px;
  margin-top: 8px;
  background: white;
}
.top-bar {
	position: fixed;
	padding: 18px 20px;
	border-bottom: 1px solid #ccc;
	background: white;
	top: 0; width: 100vw;
	z-index: 99
}
ul {
  padding: 36px 0;
  list-style: none;
}
li {
  width: 320px;
  /* height: 320px; */
  display: inline-block;
  margin: 8px;
  padding: 8px;
  position: relative;
  font-size: 0;
  background: #fafafa;
  overflow: hidden;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  vertical-align: top;
}
li img {
	width: 320px;
	height: 320px;
}
li.item {
	
}
textarea {
  display: block;
  width: 320px;
  border: none;
  padding: 10px 12px;
  box-sizing: border-box;
  font-size: 12px;
}
input[type=file] {
	position: absolute;
	padding: 12px 14px;
	width: 96px;
	top: 12px;
	left: 12px;
	cursor: pointer;
	font-size: 14px;
	opacity: .8;
}
input[type=file]:hover {
	opacity: 1;
}
input[type=file]:after {
	content: 'Upload image';
	padding: 12px 14px;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	background: white;
}
li.item:not(.editing) input,
li:not(.editing) .cancel,
li:not(.editing) .save,
li.editing .delete,
li.editing .edit {
	display: none;
}
li.item:not(.editing) textarea {
	pointer-events: none
}
li a {
	cursor: pointer;
	font-size: 15px;
	padding: 10px 12px;
	background: white;
	border: 1px solid #ccc;
	display: inline-block;
}
li a:hover {
	opacity: .75;
}